###<font color="#48dbfb" > Twint- Unlimited Tweets Scraping

from google.colab import drive
drive.mount('gdrive')

In [ ]:
# Uninstall tensorflow first
# #!pip uninstall tensorflow -y
# #Install tensorflow-gpu (stable version)
# !pip install tensorflow-gpu  # stable

In [ ]:
# %tensorflow_version 2.x
# import tensorflow as tf
# device_name = tf.test.gpu_device_name()
# if device_name != '/device:GPU:0':
#   raise SystemError('GPU device not found')
# print('Found GPU at: {}'.format(device_name))

!git clone --depth=1 https://github.com/twintproject/twint.git
!cd twint
!pip3 install . -r requirements.txt

In [ ]:
!pip3 install --user --upgrade git+https://github.com/twintproject/twint.git@origin/master#egg=twint

#<font color="#48dbfb" >****************Restart Runtime************************

In [1]:
import twint

Solve compatibility issues with notebooks and RunTime errors.

In [2]:
import pandas
import nest_asyncio 
nest_asyncio.apply()

<font color="turquoise"> Set up TWINT config - this starts a new twint configuration<br>#then - pass in different configuration options - what u want to scrape

In [ ]:
c = twint.Config() 
c.Store_csv = True
c.Store_object = True
c.Pandas = True
c.Custom["tweet"] = ["id", "date", "time", "tweet", "hashtags","cashtags","retweets_count", "likes_count"]
c.Search = "#bitcoin" #let's start with scraping for bitcoin 
c.Limit = 500
c.Since = "2021-06-01"
c.Until = "2021-06-30"
c.Lang = 'en'

In [ ]:
twint.run.Search(c)

In [ ]:
twint.storage.panda.Tweets_df.head()

In [ ]:
c=twint.Config()
c.Store_object = True
c.Pandas = True
c.Username ="elonmusk"
#c.Limit = 30000
c.Since = "2020-01-01"
c.Until = "2021-01-31"

In [ ]:
twint.storage.panda.Tweets_df['tweet'].count()

In [ ]:
twint.storage.panda.Tweets_df.to_csv('elonmusk2020JAN2021.csv')
#copy to csv
!cp elonmusk2020JAN2021.csv "gdrive/My Drive/ScrapedTweets"

<font color="turquoise"> Search via Geographic Location <br>c.Geo = ‚Äúlat,lon, radius‚Äù

In [3]:
c=twint.Config()
c.Store_object = True
c.Pandas = True
c.Geo = "51.507351,-0.127, 5km"
# c.Username ="elonmusk"
# c.Search = "covid"
# #c.Limit = 30000
c.Since = "2021-01-01"
c.Until = "2021-01-31"
# c.Lang = 'en'

In [4]:
twint.run.Search(c)

1355666835212009474 2021-01-31 02:58:55 +0300 <RaMalfaisal> 23-01-2021. First snow of the year ‚ú® The difference between Saturday and Sunday ‚ô•Ô∏è.  https://t.co/Y0yUFRywcd
1355666352984494081 2021-01-31 02:57:00 +0300 <Ryan_Colaco> @juiceboxmisha Yooooo that poor bunny rabbit is moving its nose even after she put it in the freezer?!?!?! üò™
1355666352380534794 2021-01-31 02:57:00 +0300 <caroline121diet> Just posted a photo @ London Borough of Islington  https://t.co/rJH6VVOxxT
1355665964638076929 2021-01-31 02:55:27 +0300 <jaybeezle> You've been thinking it wrong Mikel
1355665836279803911 2021-01-31 02:54:57 +0300 <VeraMirosavlje1> @Chris3BM Good night Chris üò¥
1355665756588044289 2021-01-31 02:54:38 +0300 <LucyDaviesCOO> Loved Laure and Gilou‚Äôs Romeo &amp; Juliet style bit - ‚ÄòJust go‚Äô, ‚Äòno‚Äô - so tense and also - what love between them #Spiral #engrenages
1355665657854095367 2021-01-31 02:54:14 +0300 <ootaibiii> ÿ™ŸáŸÖŸÜŸä Ÿàÿ™ÿπŸÜŸâ ŸÑŸä ŸÖŸáŸÖÿß ŸÇÿ≥ÿ™ ÿßŸÑÿßŸÇÿØÿßÿ±
1355665571371745281 2021-01-31 02:53:53 +0300 <jaybeezle> Ted Laaso actually very good
1355665109142695938 2021-01-31 02:52:03 +0300 <Dawgnuts1> @Jorraptor Just watched the latest video and I have come to AC because of Valhalla and I love the RPG elements of the last two games.  Also wondering of you can do a lore video about Isu and what it is for us new comers and what the big deal is?
1355664842221367303 2021-01-31 02:51:00 +0300 <chef_am> Just posted a photo @ London, United Kingdom  https://t.co/rNUhO2Ahwl
1355664710595698688 2021-01-31 02:50:28 +0300 <PamPamHaynes> Posing with my book. @ London Bridge  https://t.co/FDH4thdweK
1355664221388890116 2021-01-31 02:48:32 +0300 <ishtiaq_khattak> @ImranRiazFan Gillay teetar wala sarkar
1355663524966658051 2021-01-31 02:45:46 +0300 <ootaibiii> ŸÖÿßÿ™ÿ∫Ÿäÿ±ŸÜÿß ÿßŸÑŸÑŸäÿßŸÑŸä ŸàŸÑÿß ÿ∑ŸàŸÑ ÿßŸÑÿ∫Ÿäÿßÿ® -
1355663144371318793 2021-01-31 02:44:15 +0300 <rudebwoyben1> @anditstezzie @ChantayyJayy Enough cases from Stoke Newington station to back this up.
1355662897960116224 2021-01-31 02:43:16 +0300 <londonmanblog> #thelondonmanblog #travel #travelphotography #photography #nature #travelgram #love #photooftheday #instagood #wanderlust #instatravel #adventure #travelblogger #trip #picoftheday #vacation #explore  #traveling #instagram #landscape #traveler #travelling #beautiful #holiday  https://t.co/mENKrZ3Jsu
1355662640899641345 2021-01-31 02:42:15 +0300 <NicoleBdsm> @MissFoxxFD Haha it entertained me. üòÅ
1355662515624140800 2021-01-31 02:41:45 +0300 <rudebwoyben1> @bourgeoismelt @Martin_Abrams @jrc1921 Oh what japes! I bet Jason Lee looks back at this and laughs!
1355662098274136065 2021-01-31 02:40:05 +0300 <ayricabkz> Misslendin :(  https://t.co/QqhCcZOe3d
1355662052728205313 2021-01-31 02:39:55 +0300 <fatzzinooo> can we normalise boys/ men being good with kids? what‚Äôs the point in being a dad if you can‚Äôt take care of kids?
1355661693297295364 2021-01-31 02:38:29 +0300 <celalcanbilgic> I've bought this hoodie as a source of motivation, which I thought would help me to cope with depression. Now, the only difference is I'm depressed in a nice hoodie.  https://t.co/T1MFNv5ZsA
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [5]:
twint.storage.panda.Tweets_df.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1355666835212009474,1355666835212009474,1.612051e+12,2021-01-31 02:58:55,+0300,,23-01-2021. First snow of the year ‚ú® The diffe...,en,[],[],...,"51.507351,-0.127,5km",,,,,[],,,,
1,1355666352984494081,1355665296854548482,1.612051e+12,2021-01-31 02:57:00,+0300,,@juiceboxmisha Yooooo that poor bunny rabbit i...,en,[],[],...,"51.507351,-0.127,5km",,,,,"[{'screen_name': 'juiceboxmisha', 'name': 'hse...",,,,
2,1355666352380534794,1355666352380534794,1.612051e+12,2021-01-31 02:57:00,+0300,"{'type': 'Point', 'coordinates': [51.5445, -0....",Just posted a photo @ London Borough of Isling...,en,[],[],...,"51.507351,-0.127,5km",,,,,[],,,,
3,1355665964638076929,1355665964638076929,1.612051e+12,2021-01-31 02:55:27,+0300,,You've been thinking it wrong Mikel,en,[],[],...,"51.507351,-0.127,5km",,,,,[],,,,
4,1355665836279803911,1355664540457951233,1.612051e+12,2021-01-31 02:54:57,+0300,,@Chris3BM Good night Chris üò¥,en,[],[],...,"51.507351,-0.127,5km",,,,,"[{'screen_name': 'Chris3BM', 'name': 'Chris3BM...",,,,